<header>
  <h1>Utbildning</h1>
</header>

<section>
  <h2>Personbil</h2>
  <p>Vi erbjuder inte bara en effektiv utbildning med hög kvalité utan även
    en trevlig utbildning som ger dig kunskap livet ut.
  </p>
</section>

<section>
  <h2>Anpassade teori</h2>
  <p>På Yong's Trafikskolan anser vi att den teoretiska delen hör ihop med
    den praktiska delen i utbildningen.

    Det innebär att du först lär in den teoretiska delen i utbildningen för
    att sedan lättare och effektivare kunna omsätta denna kunskap i den
    praktiska delen i övningsbilen. På detta sätt når du målet snabbare och
    effektivare  i din körkortsutbildning.

    Mycket av den teoretiska delen är självstudier både via läroboken och via
    datorn. Via datorn kan du både lära in och kontrollera dig själv vilken
    nivå Du ligger på. Vi har lärarledda teorilektioner nästan varje vecka
    som är ett stöd och en extra hjälp för dig.

    Målet med teorilektionerna är att hjälpa dig på ett pedagogiskt sätt ta
    dig igenom det mesta i körkortsboken. Känner du att Du behöver
    ytterligare hjälp så kan vi även gå in och hjälpa dig genom att en
    trafiklärare avsätter tid för det vi kallar Anpassad teori. Det innebär
    att du har en privatlektion med en trafiklärare där ni går igenom det som
    du personligen behöver hjälp med och lägger en plan på hur ni skall ta Er
    fram till målet. När det kommer till teoriprovet så är det standardiserat
    både när det gäller innehåll, upplägg och tid. Känner du att du skulle
    vilja ha ytterligare hjälp att ta dig igenom teoriiprovet, tex genom att
    öka tiden eller utformningen så prata med oss så skall vi försöka hjälpa
    dig så gott vi kan.
  </p>
</section>

<section>
  <h2>Körbedömning</h2>
  <p>Det kan finnas anledning att utreda om man kan fortsätta att köra bil
    efter en skada eller sjukdom tex. traumatisk hjärnskada, stroke, demens
    eller annan neurologiska sjukdom som kan ha påverkat hjärnans kognitiva
    förmågor. Förmågor som vi har behov av vid bilkörning. En körlämplighets
    utredning innehåller dels en utredning som genomförs vid dator/skrivbord.
    Den innehåller uppgifter som testar reaktionshastighet, uthållighet,
    motorik och koncentrations förmåga och sedan även en praktisk
    körbedömning ute på väg. Östra trafikskolan har under sex års tid, varje
    vecka arbetat med denna typ av körlämplighet ute på väg och har stor
    erfarenhet när det gäller denna typ av utredning. Vi har även varit med
    och hållit i olika typer av utbildning i ämnet.
  </p>
</section>
