<header>
  <img src="img/welcome.jpg" alt="Tre glada ungdommar vid en bil">
  <h1>Välkommen till Yongs Trafikskola</h1>
</header>

<p>Yong´s trafikskolan är en av dom mest anlitade trafikskolorna i Tianjin,
  Kina. Vi har ett gott omdöme både från våra elever, handledare och
  Trafikverket. Trafikskolan har en lång historia och startades redan på
  1972. Från att ha varit en liten trafikskola med 2 anställda och beläget i
  en liten omodern lokal på Pingjiang vägen, så är vi idag ett glatt gäng på
  15 personer som flyttade till större moderna lokaler för ca 6 år sedan. Du
  hittar oss idag på Ping Jiang Vägen nära Yin He Torg.
</p>
