<header>
  <img src="img/price.jpg" alt="Kvinna i bil">
  <h1>Priser</h1>
</header>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Pris</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10 Körlektioner och teoripaketet</td>
      <td>5,000¥</td>
    </tr>
    <tr>
      <td>Bokmaterial</td>
      <td>500¥</td>
    </tr>
    <tr>
      <td>Syntest</td>
      <td>100¥</td>
    </tr>
    <tr>
      <td>Lån av bil vid uppkörning</td>
      <td>800¥</td>
    </tr>
    <tr>
      <td>20 Lektioner samt teoripaket (exkl lärobok)</td>
      <td>10,000¥</td>
    </tr>
    <tr>
      <td>30 lektioner samt teoripaket (exkl lärobok)</td>
      <td>14,000¥</td>
    </tr>
    <tr>
      <td>Körlektion 40mins</td>
      <td>520¥</td>
    </tr>
    <tr>
      <td>Privat körlektion (personer som har fått körkort)</td>
      <td>300¥</td>
    </tr>
  </tbody>
</table>
